*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'outfit', sans-serif;
}
:root{
 --White: hsl(0, 0%, 100%);
 --Light-gray: hsl(212, 45%, 89%);
 --Gray: hsl(220, 15%, 55%);
 --Dark-blue: hsl(218, 44%, 22%);

}
body {
    font-size: 15px;
    display:flex;
    align-items: center;
    justify-content: center;
    background: var(--Light-gray);
}
.contain{
  height:480px;
  width: 310px;
  background:var(--White);
  margin-top:100px;
  margin-bottom:150px;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.05);
}
.contain img{
  border-radius:1.5rem;
  max-width:100%;
  padding:15px;
}
.inside{
  text-align: center;
}
h2{
  font-weight: 700;
  color: var(--Dark-blue);
}
p{
  font-weight: 400;
  padding-top: calc(11px-1px);
  color: var(--Gray)
}
